# Part 3: Data Analytics

This notebook performs the data analysis tasks described in Part 3 of the Rearc Quest.

In [1]:
!pip install python-dotenv pandas boto3

Requirement already satisfied: python-dotenv in /Users/nbatara/Library/Mobile Documents/com~apple~CloudDocs/Documents/Professional/November 2025 Interviews/Rearc/quest_and_docs/rearc-quest/venv/lib/python3.13/site-packages (1.2.1)
Requirement already satisfied: pandas in /Users/nbatara/Library/Mobile Documents/com~apple~CloudDocs/Documents/Professional/November 2025 Interviews/Rearc/quest_and_docs/rearc-quest/venv/lib/python3.13/site-packages (2.2.3)
Requirement already satisfied: boto3 in /Users/nbatara/Library/Mobile Documents/com~apple~CloudDocs/Documents/Professional/November 2025 Interviews/Rearc/quest_and_docs/rearc-quest/venv/lib/python3.13/site-packages (1.41.5)
Requirement already satisfied: numpy>=1.26.0 in /Users/nbatara/Library/Mobile Documents/com~apple~CloudDocs/Documents/Professional/November 2025 Interviews/Rearc/quest_and_docs/rearc-quest/venv/lib/python3.13/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/nbatara/Library/Mobile Documents/com~apple~CloudDocs/Documents/Professional/November 2025 Interviews/Rearc/quest_and_docs/rearc-quest/venv/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/nbatara/Library/Mobile Documents/com~apple~CloudDocs/Documents/Professional/November 2025 Interviews/Rearc/quest_and_docs/rearc-quest/venv/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/nbatara/Library/Mobile Documents/com~apple~CloudDocs/Documents/Professional/November 2025 Interviews/Rearc/quest_and_docs/rearc-quest/venv/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: botocore<1.42.0,>=1.41.5 in /Users/nbatara/Library/Mobile Documents/com~apple~CloudDocs/Documents/Professional/November 2025 Interviews/Rearc/quest_and_docs/rearc-quest/venv/lib/python3.13/site-packages (from boto3) (1.41.5)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /Users/nbatara/Library/Mobile Documents/com~apple~CloudDocs/Documents/Professional/November 2025 Interviews/Rearc/quest_and_docs/rearc-quest/venv/lib/python3.13/site-packages (from boto3) (1.0.1)
Requirement already satisfied: s3transfer<0.16.0,>=0.15.0 in /Users/nbatara/Library/Mobile Documents/com~apple~CloudDocs/Documents/Professional/November 2025 Interviews/Rearc/quest_and_docs/rearc-quest/venv/lib/python3.13/site-packages (from boto3) (0.15.0)
Requirement already satisfied: urllib3!=2.2.0,<3,>=1.25.4 in /Users/nbatara/Library/Mobile Documents/com~apple~CloudDocs/Documents/Professional/November 2025 Interviews/Rearc/quest_and_docs/rearc-quest/venv/lib/python3.13/site-packages (from botocore<1.42.0,>=1.41.5->boto3) (2.5.0)
Requirement already satisfied: six>=1.5 in /Users/nbatara/Library/Mobile Documents/com~apple~CloudDocs/Documents/Professional/November 2025 Interviews/Rearc/quest_and_docs/rearc-quest/venv/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [2]:
import os
import sys
import boto3
from dotenv import load_dotenv

# Add src directory to path to import common modules
sys.path.append(os.path.join(os.getcwd(), '..', 'src'))

from common.aws import S3Location
from analytics import run_analytics, AnalyticsConfig

# Load environment variables from .env file in the parent directory
load_dotenv(dotenv_path='../.env')

True

## Setup

The S3 locations for our datasets are configured from your `.env` file.

In [3]:
DATA_BUCKET = os.environ.get("DATA_BUCKET")
BLS_PREFIX = os.environ.get("BLS_PREFIX")
POPULATION_TABLE_PREFIX = os.environ.get("POPULATION_TABLE_PREFIX")

# Ensure that the environment variables were loaded
if not DATA_BUCKET:
    raise ValueError("DATA_BUCKET not found in environment variables. Make sure it is set in your .env file.")

config = AnalyticsConfig(
    bls_location=S3Location(bucket=DATA_BUCKET, prefix=BLS_PREFIX),
    population_location=S3Location(bucket=DATA_BUCKET, prefix=POPULATION_TABLE_PREFIX),
)

## Run Analytics

Now, we'll call the `run_analytics` function which will load the data from S3 and perform all the required analyses. 
Make sure your AWS credentials are configured in your environment (e.g., `~/.aws/credentials`).

In [4]:
config.bls_location

S3Location(bucket='rearc-quest-data-nbatara-2025', prefix='bls/')

In [5]:
config.population_location

S3Location(bucket='rearc-quest-data-nbatara-2025', prefix='population/tables/')

In [6]:
try:
    analytics_results = run_analytics(config)
except Exception as e:
    print(f"An error occurred: {e}")
    print("Please ensure the data has been ingested into the S3 bucket and your credentials are set up.")

2025-11-29 15:33:05,566 INFO [botocore.credentials] Found credentials in shared credentials file: ~/.aws/credentials
2025-11-29 15:33:06,168 INFO [botocore.credentials] Found credentials in shared credentials file: ~/.aws/credentials
2025-11-29 15:33:06,536 INFO [analytics] Computed analytic table
2025-11-29 15:33:06,536 INFO [analytics] Computed analytic table
2025-11-29 15:33:06,536 INFO [analytics] Computed analytic table

## Report 1: Population Statistics

Mean and standard deviation of the annual US population across the years [2013, 2018] inclusive.

In [7]:
analytics_results['population_stats']

           year_range         mean           std
population  2013-2018  322069808.0  4.158441e+06

## Report 2: Best Year by Series

For every series_id, the year with the max/largest sum of "value" for all quarters in that year.

In [8]:
analytics_results['best_year']

       series_id  year    value
0    PRS30006011  2022   20.500
1    PRS30006012  2022   17.100
2    PRS30006013  1998  705.895
3    PRS30006021  2010   17.700
4    PRS30006022  2010   12.400
..           ...   ...      ...
277  PRS88003192  2002  282.800
278  PRS88003193  2024  860.838
279  PRS88003201  2022   37.200
280  PRS88003202  2022   28.700
281  PRS88003203  2024  583.441

[282 rows x 3 columns]

## Report 3: Series with Population

The `value` for `series_id = PRS30006032` and `period = Q01` and the `population` for that given year.

In [9]:
analytics_results['series_population']

      series_id  year period  value   Population
0   PRS30006032  1995    Q01    0.0          NaN
1   PRS30006032  1996    Q01   -4.2          NaN
2   PRS30006032  1997    Q01    2.8          NaN
3   PRS30006032  1998    Q01    0.9          NaN
4   PRS30006032  1999    Q01   -4.1          NaN
5   PRS30006032  2000    Q01    0.5          NaN
6   PRS30006032  2001    Q01   -6.3          NaN
7   PRS30006032  2002    Q01   -6.6          NaN
8   PRS30006032  2003    Q01   -5.7          NaN
9   PRS30006032  2004    Q01    2.0          NaN
10  PRS30006032  2005    Q01   -0.5          NaN
11  PRS30006032  2006    Q01    1.8          NaN
12  PRS30006032  2007    Q01   -0.8          NaN
13  PRS30006032  2008    Q01   -3.5          NaN
14  PRS30006032  2009    Q01  -21.0          NaN
15  PRS30006032  2010    Q01    3.2          NaN
16  PRS30006032  2011    Q01    1.5          NaN
17  PRS30006032  2012    Q01    2.5          NaN
18  PRS30006032  2013    Q01    0.5  316128839.0
19  PRS30006032  2014    Q01   -0.1  318857056.0
20  PRS30006032  2015    Q01   -1.7  321418821.0
21  PRS30006032  2016    Q01   -1.4  323127515.0
22  PRS30006032  2017    Q01    0.9  325719178.0
23  PRS30006032  2018    Q01    0.5  327167439.0
24  PRS30006032  2019    Q01   -1.6  328239523.0
25  PRS30006032  2020    Q01   -7.0          NaN
26  PRS30006032  2021    Q01    0.7  331893745.0
27  PRS30006032  2022    Q01    5.3  333287562.0
28  PRS30006032  2023    Q01    0.3  334914896.0
29  PRS30006032  2024    Q01   -0.7          NaN
30  PRS30006032  2025    Q01    0.4          NaN